<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container mt-5 mb-5">
    <form th:method="POST" th:action="@{/profile/{id}/update(id = ${user.getId()})}" name="user" th:object="${user}">
        <label>Username</label>
        <input type="text" readonly name="username" th:field="*{username}">
        <br>
        <label>email</label>
        <input type="text" name="email" th:field="*{email}">
        <br>
        <label>City</label>
        <select name="city" th:field="*{city_name}">
            <option disabled selected th:value = "*{city_name}" th:text="*{city_name}"/>
            <option th:each="city : ${citys}" th:value="${city.getName()}"
                    th:text="${city.getName()}">
            </option>
        </select>
        <br>
        <button type="submit">Сохранить</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>